**/*.idea
**/*.pro
**/*.user
**/*__pycache__*
**/*.bat
**/*.spec
**/*.jpg
**/*.png
**/*.db
**/*.cbproj
**/*.stat
**/*.local
**/*.res
**/*.dfm
**/*.7z
**/*.ilc
**/*.ild
**/*.ilf
**/*.ils
**/*.lib
**/*.map
**/*.tds
**/*.log
**/*.erwin
**/*.bak
**/*.groupproj
**/*.tvsconfig
**/*.db-journal
**/*.dll
**/*.lib
**/*.bmp
